In [13]:
## How polluted will your town air be? Pollution Level Forecasting
## Regression Problem
## Data ranges from year 2010 to 2014
## Data description
'''
https://www.airveda.com/blog/what-is-pm2-5-and-why-is-it-important
year: year of data in this row
month: month of data in this row
day: day of data in this row
hour: hour of data in this row
pm2.5: PM2.5 concentration (ug/m^3)
DEWP: Dew Point (â„ƒ)
TEMP: Temperature (â„ƒ)
PRES: Pressure (hPa)
cbwd: Combined wind direction
Iws: Cumulated wind speed (m/s)
Is: Cumulated hours of snow
Ir: Cumulated hours of rain

'''

'\nhttps://www.airveda.com/blog/what-is-pm2-5-and-why-is-it-important\nyear: year of data in this row\nmonth: month of data in this row\nday: day of data in this row\nhour: hour of data in this row\npm2.5: PM2.5 concentration (ug/m^3)\nDEWP: Dew Point (\xc3\xa2\xe2\x80\x9e\xc6\x92)\nTEMP: Temperature (\xc3\xa2\xe2\x80\x9e\xc6\x92)\nPRES: Pressure (hPa)\ncbwd: Combined wind direction\nIws: Cumulated wind speed (m/s)\nIs: Cumulated hours of snow\nIr: Cumulated hours of rain\n\n'

In [60]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mat

In [47]:
data = pd.read_csv("PRSA_data_2010.1.1-2014.12.31.csv")

In [48]:
data.shape

(43824, 13)

In [49]:
print data.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [50]:
## checking the number of null values in each.
data.isna().sum()

No          0
year        0
month       0
day         0
hour        0
pm2.5    2067
DEWP        0
TEMP        0
PRES        0
cbwd        0
Iws         0
Is          0
Ir          0
dtype: int64

In [51]:
## from the above it is clear that only pm2.5(concentration) has 2067 NaN values, which is comparitively very less to the
## size of the dataframe, i.e 43824

In [52]:
## checking type of data
data.dtypes

No         int64
year       int64
month      int64
day        int64
hour       int64
pm2.5    float64
DEWP       int64
TEMP     float64
PRES     float64
cbwd      object
Iws      float64
Is         int64
Ir         int64
dtype: object

In [53]:
## for the descriptive statistics of the data.
data.describe()

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,41757.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000
mean,21912.500000,2012.000000,6.523549,15.727820,11.500000,98.613215,1.817246,12.448521,1016.447654,23.889140,0.052734,0.194916
std,12651.043435,1.413842,3.448572,8.799425,6.922266,92.050387,14.433440,12.198613,10.268698,50.010635,0.760375,1.415867
min,1.000000,2010.000000,1.000000,1.000000,0.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,10956.750000,2011.000000,4.000000,8.000000,5.750000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,21912.500000,2012.000000,7.000000,16.000000,11.500000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,32868.250000,2013.000000,10.000000,23.000000,17.250000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,43824.000000,2014.000000,12.000000,31.000000,23.000000,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

In [54]:
## from the above statistics we infer:
## std for pm2.5 is 92.050, which implies that values in the dataset are are spread out as the std is greater than 1/3rd(AM)

In [55]:
## Target_NaN_df contains all the rows that had pm2.5 as NaN, i.e 2067 rows
Target_NaN_df = data[data['pm2.5'].isna()]
print Target_NaN_df.shape

(2067, 13)

In [59]:
data_refined = data.dropna(subset=['pm2.5'])
print data_refined.isna().sum()

No       0
year     0
month    0
day      0
hour     0
pm2.5    0
DEWP     0
TEMP     0
PRES     0
cbwd     0
Iws      0
Is       0
Ir       0
dtype: int64

In [ ]:
##